@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
  }
  
  .banner {
    
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .heading {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }

  .heading h1{
      margin: 0;
  }
  
  .heading button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #000000;
    text-align: center;
    cursor: pointer;
  }
  
  .heading button:hover {
    background-color: #555;
    color: white;
  }

  .register{
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .register h2{
      margin: 30px 0 20px ;
  }

  .register .formHolder {
    width: 50%;
    background: #e6e6e6;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 9px 20px 4px #c3c3c3;
  }

  .register .formHolder form{
      text-align: left;
  }

  .register .formHolder form input:not([type="submit"]):not([type="reset"]){
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 0;
  }

  .register .formHolder form input[type="submit"],input[type="reset"]{
    width: 25%;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    cursor: pointer;
  }
  .register .formHolder form input[type="submit"]{
    background: #ffb200;
  }
  .register .formHolder form input[type="reset"]{
    background: #676767;
    color: #ffffff;
  }
