@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }


  .container{
    text-align: center;
  }

  .heading{
      margin: 20px;
  }

  .heading img{
      width: 75px;
  }

  .heading h1{
      margin: 0;
  }

  .video{
    margin-top:20px;
    background: #f2f2f2;
    text-align:center;
    padding: 20px;
  }

  .play{
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    background: #e53935;
    color: #fff;
    cursor: pointer;
  }

  .pause{
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    background: #000000;
    color: #fff;
    cursor: pointer;
  }

  video{
    width: 800px;
  }